.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
}